.main {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    cursor: move;
    background-color: white;
    box-shadow: -5px 0px 5px rgba(0,0,0,0.1);
    position: relative;
    box-sizing: border-box;
}

.root {
    position: relative;
}

.offset {
    transform: translate(60px,0px);
}

.phantom {
    background-color: lightblue;
    border: none;
}

.pointer {
    margin: none;
    border: 1px solid black;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    /*pointer-events: none;*/
}

.target {
    background-color: turquoise;
    border: none;
}

